@tailwind base;
@tailwind components;
@tailwind utilities;

/* Переопределение фона инпутов для компонента TextInput */
@layer components {
    input.border-orange-300 {
        background-color: white !important;
    }
}
